.data-table{
  width: 100%;
  border: 1px solid grey;
  border-radius: 5px;
  padding: 4px 6px;
  font-size: 15px;
}

table{
  width: 100%;
  border-collapse: collapse;
}

th{
  padding: 5px 5px;
  font-weight: 600;
  font-size: 15px;
  text-align: start;
}

tr.heading_row{
  border-bottom: 0.5px solid lightgrey;
  color: white;
  height: 3rem;
  background-color: rgb(60, 60, 60);
}

tr.row{  
  border-bottom: 0.5px solid lightgrey;
  height: 3rem;
}

tr.row:hover{
  background-color: rgb(246, 246, 246);
}

td{
  padding: 4px 4px;
  text-align:start;
}

/* tr:nth-child(even) {background-color: #dad5d5;} */

.containers_page{
  display: flex;
  flex-direction: column; 
  width: 100%;
  margin-left: 2rem;
  margin-right: 2rem;
  margin-bottom: 2rem;
}

.containers_page>p{
  margin-top: 0;
}

.details_link{
  color: rgb(52, 52, 235);
  font-weight: 500;
  font-style: italic;
}

.status_green{
  color: rgb(23, 161, 23);
  font-weight: 500;
}

.status_red{
  color: rgb(213, 45, 45);
  font-weight: 500;
}

.containers_page__heading{
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  margin-top: 1rem;
}

.containers_page_left{
  font-size: 1.5rem;
  font-weight: 500;
}

.containers_icon{
  font-size: 1.5rem;
  padding-top: 6px;
}

.reload_icon{
  font-size: 1rem;
  padding-top: 8px;
}

.reload_btn{
  border: none;
  background-color: white;
  padding-left: 0;
}

.reload_btn:hover{
  cursor: pointer;
}




