.images_page{
  display: flex;
  flex-direction: column;
  margin-left: 2rem;
  margin-right: 2rem;
}

.images-table{
  border: 1px solid grey;
  border-radius: 5px;
}

.header_table{
  background-color: black;
  color: white;
}
/* table{
  width: 100%;
}

th{
  padding: 5px 5px;
}

tr{
  padding: 2px 2px;
}

td{
  padding: 4px 4px;
  text-align: center;
} */

/* tr:nth-child(even) {background-color: #dad5d5;} */