
.logs_page{
  display: flex;
  flex-direction: column;
  margin-left: 3rem;
  margin-bottom: 3rem;
}


/* .container_logs{
  padding: 1rem 20px;
  border: 1px solid black;
  border-radius: 4px; 
  width: 60rem;
  white-space: pre-wrap;
  font-size: 14px;
  line-height: 20px;
  background-color: rgb(60, 60, 60);
  color: white;
} */

/* .log_screen{
  width: 100%;
} */

.back_btn{
  display: flex;
  gap: 3px;
  padding: 3px 4px;
  background-color: rgb(60, 60, 60);
  color: white;
  border-radius: 4px;
  font-weight: 500;
  font-size: 13px;
  padding: 4px 4px;
}

.back_btn:hover{
  cursor: pointer;
  background-color: black;
}

.container_logs{
  margin-top: 1rem;
}

